# downloaded files
node_modules
packages
# built files
**/bin
**/obj
# temp files
*.tmp
*.log
*.orig
# user-specific files
*.suo
*.user
.vs
# secrets
.env
# non-production files
appsettings.*.json
**/launchSettings.json
k8s.yaml
